.container__map{
    display: block;
    text-align: center;
}

.container__map h1{
    padding-top: 1rem;
}

.contato-mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contato-mobile p{
    text-align: center;
    padding: 0.5rem;
    line-height: 1.5rem;
}

.contato-mobile a{
    text-decoration: none;
}

.contato{
    display: none;
}

@media screen and (min-width: 1024px){

    .contato{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contato p{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.5rem;

    }

    .contato a{
        text-decoration: none;
    }

    .contato-mobile{
        display: none;
    }
}

@media screen and (min-width: 1440px){

    iframe{
        width: 60%;
    }
    
}
