.container__map{
    display: block;
    text-align: center;
}

.container__map h1{
    padding-top: 1rem;
}

.contato p{
    text-align: left;
    padding: 0.3rem;
}

.contato a{
    text-decoration: none;
}

.p-insta{
    display: none;
}

@media screen and (min-width: 1024px){

    .contato{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contato p{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .p-insta{
        display: inline;
    }

    .insta-mobile{
        display: none !important;
    }

}

@media screen and (min-width: 1440px){

    iframe{
        width: 60%;
    }
    
}
